<section>
	<div class="container">
		<div class="row">
			<div class="product-list-wrapper">
				<!-- Indiv product -->
				<div class="indiv-product" *ngFor="let product of products">
					<a [routerLink]="['/product-detail', product.id]">
						<!-- Product image -->
						<div class="product-image">
							<img src="https://images-na.ssl-images-amazon.com/images/I/51o5RmQtroL._SL1024_.jpg" alt="Product image" />
						</div>
						<!-- Brand name -->
						<div class="brand-name">
							{{product.brand}}
						</div>
						<!-- Product name -->
						<div class="product-name">
							{{product.name}}
						</div>
						<!-- Price -->
						<div class="price">
							{{product.price | indianCurrency}}
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>