@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.product-list-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
    width: 100%;
    @include padding(50px, 0, 50px, 0);
    @include justify-content(space-between);
    @include mq('tablet-mweb', 'max') {
        @include padding(50px, 15px, 15px, 50px);
    }

    .indiv-product {
        @include box-shadow(0, 10px, 10px, 0, rgba(0, 0, 0, 0.1));
        @include border-radius(8px, 8px, 8px, 8px);
        width: 31%;
        margin-right: 20px;
        margin-bottom: 40px;
        @include transition(.4s all ease-in-out);

        &:hover {
            @include box-shadow(10px,20px,10px,0,rgba(0,0,0,0.3));
        }

        // Media Query
        @include mq('tablet-pro', 'max') {
            width: 100%;
        }

        .product-image {

            img {
                width: 100%;
            }
        }

        .brand-name {
            font-size: 18px;
            @include padding(0, 20px, 10px, 20px);
        }

        .product-name {
            @include padding(0, 20px, 10px, 20px);
            font-family: $montserrat-font;
            font-size: 22px;
        }

        .price {
            @include padding(0, 20px, 20px, 20px);
            font-size: 18px;
        }
    }
}