<section>
	<div class="container">
		<div class="row">
			<div class="product-details-wrapper">
				<div class="images-wrapper">
					<div class="carousel-wrapper">
						<div class="carousel-nav-wrapper">
							<div (click)="previous()" class="carousel-nav previous" *ngIf="showPrevIcon">
								<img src="./assets/images/next-icon.svg" alt="Next icon" width="20" />
							</div>
							<div (click)="next()" class="carousel-nav next" *ngIf="showNextIcon">
								<img src="./assets/images/next-icon.svg" alt="Next icon" width="20" />
							</div>
						</div>
						<div [@slider]="selectedIndex" class="slider-container">
							<div class="indiv-image slide" *ngFor="let image of images">
								<img [src]="image" alt="Product Image" />
							</div>
						</div>
					</div>
				</div>
				<div class="content-wrapper">
					<!-- First fold of information -->
					<div class="indiv-fold">
						<!-- Title and brand name -->
						<div class="title-wrapper">
							<div class="title">
								{{ selectedProduct.name }}
							</div>
							<div class="brand-name">
								by {{ selectedProduct.brand }}
							</div>
						</div>
						<!-- Price-->
						<div class="price-wrapper">
							<div class="price">
								{{ selectedProduct.price | indianCurrency }}
							</div>
							<div class="small-text">
								Inclusive of all taxes
							</div>
						</div>
						<div class="sub-title">
							Select Size
						</div>
						<!-- Size wrapper -->
						<div class="size-wrapper">
							<div class="indiv-size">
								64GB
							</div>
							<div class="indiv-size">
								256GB
							</div>
							<div class="indiv-size">
								512GB
							</div>
						</div>
						<!-- Button wrapper -->
						<div class="button-wrapper">
							<button class="indiv-button primary-button button" (click)='addToCart(selectedProduct)'>
								Add to cart
							</button>
							<button class="indiv-button primary-button button" (click)='buyItem(selectedProduct)'>
								Buy
							</button>
						</div>
						<div class="sub-title">
							Offers
						</div>
						<!-- Offers section -->
						<div class="offers-wrapper">
							<ul>
								<li>
									Applicable on: Orders above Rs. 50000 (only on first purchase)
								</li>
								<li class="blue-text">
									Coupon code: SHOPPINGNEW500
								</li>
								<li>
									Coupon Discount: Rs. 500 off (check cart for final savings)
								</li>
							</ul>
						</div>
					</div>
					<!-- Second fold of information -->
					<div class="indiv-fold">
						<div class="sub-title">
							Product Details
						</div>
						<div class="product-info">
							<ul>
								<li>
									6.5-inch Super Retina XDR OLED displa
								</li>
								<li>
									Water and dust resistant (4 meters for up to 30 minutes, IP68)
								</li>
								<li>
									Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K
									video up to 60fps
								</li>
								<li>
									12MP TrueDepth front camera with Portrait Mode, 4K video, and Slo-Mo
								</li>
								<li>
									Face ID for secure authentication and Apple Pay
								</li>
								<li>
									A13 Bionic chip with third-generation Neural Engine
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>