@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.product-details-wrapper {
    @include padding(50px, 0, 50px, 0);
    @include flexbox();
    width: 100%;

    //Media query
    @include mq('tablet-pro', 'max') {
        flex-wrap: wrap;
        @include padding(50px, 20px, 50px, 20px);
    }

    .images-wrapper {
        width: 40%;

        //Media query
        @include mq('tablet-pro', 'max') {
            width: 100%;
        }

        .carousel-wrapper {
            position: relative;

            .carousel-nav-wrapper {

                .carousel-nav {
                    position: absolute;
                    top: 45%;
                    background-color: #eeeeee;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    z-index: 11;
                    text-align: center;
                    @include flexbox();
                    @include justify-content(center);
					@include align-items(center);
					cursor: pointer;
                }

                .carousel-nav.previous {
                    left: -12px;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }

                .carousel-nav.next {
                    right: 18px;
                }
            }

            .slider-container {
                position: relative;
                height: 400px;
                width: 400px;
                overflow: hidden;
                border: 2px solid #eeeeee;
				margin: 20px 10px;
				@include box-shadow(0,10px,10px,0,rgba(0,0,0,0.1));
            }

            .slide {
                position: absolute;
            }

            .indiv-image {
                img {
                    width: 100%;
                }
            }
        }
    }

    .title-wrapper {
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 10px;

        .title {
            font-family: $montserrat-font;
            font-size: 24px;
        }

        .brand-name {
            padding-top: 10px;
        }
    }

    .price-wrapper {
        padding-bottom: 20px;

        .price {
            padding-top: 20px;
            font-size: 20px;
            color: #26358F;
        }

        .small-text {
            font-size: 14px;
            padding-top: 5px;
        }
    }

    .size-wrapper {
        @include flexbox();
        padding-top: 20px;

        .indiv-size {
            border: 2px solid #444;
            @include padding(5px, 20px, 5px, 20px);
            @include margin(0, 20px, 0, 0);
            cursor: pointer;
            @include transition(0.3s border-color ease-in-out);

            &:hover {
                border: 2px solid $red-color;
            }
        }
    }

    .button-wrapper {
        @include flexbox();
        @include padding(40px, 0, 20px, 0);

        @include mq('tablet-pro', 'max') {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            @include justify-content(center);
        }

        .indiv-button {
            margin-right: 20px;
        }
    }

    .indiv-fold {
        border-bottom: 1px solid #d4d4d4;
        padding-top: 20px;
    }

    ul {
        line-height: 26px;
    }

    .content-wrapper {
        width: 55%;

        //Media query
        @include mq('tablet-pro', 'max') {
            width: 100%;
        }
    }
}