@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.cart-wrapper {
    width: 100%;

    @include mq('tablet-mweb', 'max') {
        @include padding(15px, 15px, 15px, 15px);
    }

    .items-wrapper {
        width: 100%;

        .heading-wrapper {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            font-family: $montserrat-font;
        }

        .indiv-item {
            border-bottom: 1px solid #d4d4d4;
            @include padding(20px, 0, 20px, 0);
        }

        .details-wrapper {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            width: 100%;
        }
    }

    .checkout-wrapper {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        @include padding(20px, 0, 0, 0);
        width: 100%;
    }

    .cart-empty-wrapper {
        min-height: 40vh;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        font-family: $montserrat-font;
    }
}